<!-- Footer
================================================== -->
	<div id="footer">
		<!-- Container -->
		<div class="container">
			<div class="four columns">
				<img src="/public/images/shop/logo-footer.png" alt="" class="margin-top-10">
				<p class="margin-top-15">公司简介简介公司简介简介公司简介简介公司简介简介公司简介简介公司简介简介公司简介简介公司简介简介公司简介简介公司简介简介公司简介简介公司简介介公司简介简介</p>
			</div>
			<div class="four columns">

				<!-- Headline -->
				<h3 class="headline footer">关于我们</h3>
				<span class="line"></span>
				<div class="clearfix"></div>

				<ul class="footer-links">
					<li><i class="booen_icon booen_icon-arrow-right5"></i><a href="">公司简介</a></li>
					<li><i class="booen_icon booen_icon-arrow-right5"></i><a href="">联系我们</a></li>
					<li><i class="booen_icon booen_icon-arrow-right5"></i><a href="">Delivery &amp; Returns</a></li>
					<li><i class="booen_icon booen_icon-arrow-right5"></i><a href="">Privacy Policy</a></li>
					<li><i class="booen_icon booen_icon-arrow-right5"></i><a href="">Terms &amp; Conditions</a></li>
				</ul>

			</div>
			<div class="four columns">

				<!-- Headline -->
				<h3 class="headline footer">个人中心</h3>
				<span class="line"></span>
				<div class="clearfix"></div>

				<ul class="footer-links">
					<li><i class="booen_icon booen_icon-arrow-right5"></i><a href="">我的账户</a></li>
					<li><i class="booen_icon booen_icon-arrow-right5"></i><a href="">我的订单</a></li>
					<li><i class="booen_icon booen_icon-arrow-right5"></i><a href="">我的购物车</a></li>
					<li><i class="booen_icon booen_icon-arrow-right5"></i><a href="">我的钱包</a></li>
					<li><i class="booen_icon booen_icon-arrow-right5"></i><a href="">我的积分</a></li>
				</ul>

			</div>
			<div class="four columns">

				<!-- Headline -->
				<h3 class="headline footer">联系我们</h3>
				<span class="line"></span>
				<div class="clearfix"></div>
				<p><i class="booen_icon booen_icon-phone2"></i>12584126</p>
				<p><i class="booen_icon booen_icon-envelop5"></i>lanzifeng@118.com</p>
				<p><i class="booen_icon booen_icon-location"></i>广东省中山市</p>
			</div>

		</div>
		<!-- Container / End -->

	</div>
<!-- Footer / End -->
<!-- Footer Bottom / Start -->
	<div id="footer-bottom">

		<!-- Container -->
		<div class="container">

			<div class="sixteen columns">© Copyright 2014 by <a href="http://www.17sucai.com/preview/14938/2016-06-30/trizzy/trizzy/index.html#">trizzy</a>. All Rights Reserved. 技术支持：<a href="">布恩网络</a></div>

		</div>
		<!-- Container / End -->

	</div>

<!-- here stars scrolling icon -->
  <script type="text/javascript">
    $(document).ready(function() {
      /*
        var defaults = {
        containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear' 
        };
      */
                
      $().UItoTop({ easingType: 'easeOutQuart' });
                
      });
  </script>
  <a href="" id="toTop" style="display: none;"><i id="toTopHover" class="booen_icon booen_icon-arrow-up2"></i></a>
<!-- //here ends scrolling icon -->
</div>