<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/public/stylesheets/style.css">
  	<script src="js/jquery-2.2.0.min.js"></script>
</head>
</head>
<body>
	{{>header}}
   <div class="indexMain">
	    <ul class="">
	     	<li>
	     		<a href="/shop"><div>陈小姐的店</div></a>
	     	</li>
	     	<li>
	     		<a href="/about"><div>关于陈小姐</div></a>
	     	</li>
	    </ul>
   </div>
   <div class="footer"></div>
</body>
</html>